root=true

[*]
end_of_line=crlf
insert_final_newline=true
indent_size=4
indent_style=space
max_line_length=150
#### .NET Coding Conventions (https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019) ####
# Organize usings
dotnet_separate_import_directive_groups=false
dotnet_sort_system_directives_first=true
file_header_template=unset
# this. and Me. preferences
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_operators=never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:suggestion
# Modifier preferences
dotnet_style_require_accessibility_modifiers=for_non_interface_members:warning
# Expression-level preferences
dotnet_style_coalesce_expression=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:suggestion
dotnet_style_null_propagation=true:suggestion
dotnet_style_object_initializer=true:suggestion
dotnet_style_operator_placement_when_wrapping=beginning_of_line
dotnet_style_prefer_auto_properties=true:silent
dotnet_style_prefer_compound_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment=true:silent
dotnet_style_prefer_conditional_expression_over_return=true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names=true:suggestion
dotnet_style_prefer_inferred_tuple_names=true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion
dotnet_style_prefer_simplified_boolean_expressions=true:suggestion
dotnet_style_prefer_simplified_interpolation=true:suggestion
# Field preferences
dotnet_style_readonly_field=true:suggestion
# Parameter preferences
dotnet_code_quality_unused_parameters=all:suggestion
#### C# Coding Conventions ####
# var preferences
csharp_style_var_elsewhere=true:warning
csharp_style_var_for_built_in_types=true:warning
csharp_style_var_when_type_is_apparent=true:warning
# Expression-bodied members
csharp_style_expression_bodied_accessors=true:silent
csharp_style_expression_bodied_constructors=false:silent
csharp_style_expression_bodied_indexers=true:silent
csharp_style_expression_bodied_lambdas=true:silent
csharp_style_expression_bodied_local_functions=false:silent
csharp_style_expression_bodied_methods=false:silent
csharp_style_expression_bodied_operators=false:silent
csharp_style_expression_bodied_properties=true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion
csharp_style_prefer_switch_expression=true:suggestion
# Null-checking preferences
csharp_style_conditional_delegate_call=true:suggestion
# Modifier preferences
csharp_prefer_static_local_function=true:suggestion
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:warning
# Code-block preferences
csharp_prefer_braces=true:silent
csharp_prefer_simple_using_statement=true:suggestion
# Expression-level preferences
csharp_prefer_simple_default_expression=true:suggestion
csharp_style_deconstructed_variable_declaration=true:suggestion
csharp_style_inlined_variable_declaration=true:suggestion
csharp_style_pattern_local_over_anonymous_function=true:suggestion
csharp_style_prefer_index_operator=true:suggestion
csharp_style_prefer_range_operator=true:suggestion
csharp_style_throw_expression=true:suggestion
csharp_style_unused_value_assignment_preference=discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference=discard_variable:silent
# 'using' directive preferences
csharp_using_directive_placement=outside_namespace:silent
#### C# Formatting Rules ####
# New line preferences
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_anonymous_types=false
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true
# Indentation preferences
csharp_indent_block_contents=true
csharp_indent_braces=false
csharp_indent_case_contents=true
csharp_indent_case_contents_when_block=true
csharp_indent_labels=one_less_than_current
csharp_indent_switch_labels=true
# Space preferences
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false
# Wrapping preferences
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=true
# Trailing Comma
trailing_comma_in_multiline_lists=true
trailing_comma_in_singleline_lists=false
# Attribute Style
force_attribute_style=seperate
#### Naming styles ####
# Naming rules
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.schnittstelle_should_be_beginnt_mit_i.severity=warning
dotnet_naming_rule.schnittstelle_should_be_beginnt_mit_i.symbols=schnittstelle
dotnet_naming_rule.schnittstelle_should_be_beginnt_mit_i.style=beginnt_mit_i
dotnet_naming_rule.typen_should_be_pascal_schreibweise.severity=warning
dotnet_naming_rule.typen_should_be_pascal_schreibweise.symbols=typen
dotnet_naming_rule.typen_should_be_pascal_schreibweise.style=pascal_schreibweise
dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.severity=warning
dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.symbols=nicht_feldmember
dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.style=pascal_schreibweise
dotnet_naming_rule.const_field_should_be_pascal_schreibweise.severity=warning
dotnet_naming_rule.const_field_should_be_pascal_schreibweise.symbols=const_field
dotnet_naming_rule.const_field_should_be_pascal_schreibweise.style=pascal_schreibweise
dotnet_naming_rule.readonly_static_field_should_be_pascal_schreibweise.severity=warning
dotnet_naming_rule.readonly_static_field_should_be_pascal_schreibweise.symbols=readonly_static_field
dotnet_naming_rule.readonly_static_field_should_be_pascal_schreibweise.style=pascal_schreibweise
dotnet_naming_rule.privates_oder_internes_feld_should_be_gemishcter_groß___klein.severity=warning
dotnet_naming_rule.privates_oder_internes_feld_should_be_gemishcter_groß___klein.symbols=privates_oder_internes_feld
dotnet_naming_rule.privates_oder_internes_feld_should_be_gemishcter_groß___klein.style=gemishcter_groß___klein
dotnet_naming_rule.parameter_should_be_gemishcter_groß___klein.severity=warning
dotnet_naming_rule.parameter_should_be_gemishcter_groß___klein.symbols=parameter
dotnet_naming_rule.parameter_should_be_gemishcter_groß___klein.style=gemishcter_groß___klein
# Symbol specifications
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.schnittstelle.applicable_kinds=interface
dotnet_naming_symbols.schnittstelle.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.schnittstelle.required_modifiers=
dotnet_naming_symbols.privates_oder_internes_feld.applicable_kinds=field
dotnet_naming_symbols.privates_oder_internes_feld.applicable_accessibilities=internal, private
dotnet_naming_symbols.privates_oder_internes_feld.required_modifiers=
dotnet_naming_symbols.typen.applicable_kinds=class, struct, interface, enum
dotnet_naming_symbols.typen.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.typen.required_modifiers=
dotnet_naming_symbols.nicht_feldmember.applicable_kinds=property, event, method
dotnet_naming_symbols.nicht_feldmember.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.nicht_feldmember.required_modifiers=
dotnet_naming_symbols.parameter.applicable_kinds=parameter
dotnet_naming_symbols.parameter.applicable_accessibilities=
dotnet_naming_symbols.parameter.required_modifiers=
dotnet_naming_symbols.readonly_static_field.applicable_kinds=field
dotnet_naming_symbols.readonly_static_field.applicable_accessibilities=internal, private, protected, protected_internal
dotnet_naming_symbols.readonly_static_field.required_modifiers=readonly, static
dotnet_naming_symbols.const_field.applicable_kinds=field
dotnet_naming_symbols.const_field.applicable_accessibilities=internal, private, protected, protected_internal
dotnet_naming_symbols.const_field.required_modifiers=const
# Naming styles
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.pascal_schreibweise.required_prefix=
dotnet_naming_style.pascal_schreibweise.required_suffix=
dotnet_naming_style.pascal_schreibweise.word_separator=
dotnet_naming_style.pascal_schreibweise.capitalization=pascal_case
dotnet_naming_style.beginnt_mit_i.required_prefix=I
dotnet_naming_style.beginnt_mit_i.required_suffix=
dotnet_naming_style.beginnt_mit_i.word_separator=
dotnet_naming_style.beginnt_mit_i.capitalization=pascal_case
dotnet_naming_style.gemishcter_groß___klein.required_prefix=
dotnet_naming_style.gemishcter_groß___klein.required_suffix=
dotnet_naming_style.gemishcter_groß___klein.word_separator=
dotnet_naming_style.gemishcter_groß___klein.capitalization=camel_case
# ReSharper properties (see: https://www.jetbrains.com/help/resharper/EditorConfig_Properties.html)
resharper_apply_auto_detected_rules=false
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_property=1
resharper_braces_for_for=required
resharper_braces_for_foreach=required
resharper_braces_for_ifelse=required_for_multiline_statement
resharper_braces_for_while=required
resharper_cpp_indent_size=4
resharper_cpp_insert_final_newline=true
resharper_cpp_max_line_length=150
resharper_cpp_tab_width=4
resharper_cpp_use_indent_from_vs=false
resharper_csharp_blank_lines_around_single_line_field=1
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_nontrivial_alias=false
resharper_csharp_max_line_length=150
resharper_csharp_new_line_before_while=true
resharper_csharp_place_type_constraints_on_same_line=false
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_css_indent_size=4
resharper_css_insert_final_newline=true
resharper_css_tab_width=4
resharper_css_use_indent_from_vs=false
resharper_enforce_line_ending_style=true
resharper_html_insert_final_newline=true
resharper_html_use_indent_from_vs=false
resharper_js_indent_size=4
resharper_js_insert_final_newline=true
resharper_js_max_line_length=150
resharper_js_tab_width=4
resharper_js_use_indent_from_vs=false
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_place_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_simple_accessor_on_single_line=false
resharper_prefer_qualified_reference=false
resharper_protobuf_insert_final_newline=false
resharper_resx_insert_final_newline=false
resharper_space_after_cast=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_vb_insert_final_newline=false
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_colon=true
resharper_wrap_before_extends_colon=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_xmldoc_attribute_style=on_single_line
resharper_xmldoc_insert_final_newline=false
resharper_xmldoc_max_line_length=150
resharper_xmldoc_use_indent_from_vs=false
resharper_xml_attribute_style=on_single_line
resharper_xml_insert_final_newline=true
resharper_xml_max_blank_lines_between_tags=1
resharper_xml_max_line_length=150
resharper_xml_pi_attribute_style=on_single_line
resharper_xml_use_indent_from_vs=false
# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_convert_to_using_declaration_highlighting=hint
resharper_elided_trailing_element_highlighting=suggestion
resharper_redundant_base_qualifier_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_unknown_css_class_highlighting=hint
# Additional general style settings
always_use_end_of_line_brace_style=false
remove_blank_lines_near_braces=true
keep_blank_lines_in_code=1
csharp_namespace_body=block_scoped # Unity doesn't support file soped

[*.cs]
charset=utf-8
trim_trailing_whitespace=true
# CA1051: Do not declare visible instance fields
dotnet_code_quality.ca1051.api_surface=all
# SA1633: File should have header. We don`t use file header.
dotnet_diagnostic.sa1633.severity=none
# SA1200: Using directives should be placed correctly. We place using directives outside of namespaces.
dotnet_diagnostic.sa1200.severity=none
# SA1101: Prefix local calls with this. We don`t prefix them.
dotnet_diagnostic.sa1101.severity=none
# SA1408: Conditional expressions should declare precedence
dotnet_diagnostic.SA1408.severity=none
# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity=none
# SA1118: The parameter spans multiple lines
dotnet_diagnostic.SA1118.severity=none
# IDE0079 Remove Unnecessary Suppression. Fires falls positive for all ReSharper
dotnet_remove_unnecessary_suppression_exclusions=category:ReSharper
# CA1826: Use property instead of Linq Enumerable method. Allow list.FirstOrDefault() on List but prefere list[0] instead of list.First().
dotnet_code_quality.CA1826.exclude_ordefault_methods=true
# CSharpWarnings::CS8602: Dereference of a possibly null reference. (resharper rethrows it but nunit supresses the normal waring)
resharper_c_sharp_warnings_cs8602_highlighting=none
# Configure issues serverity to be warnings
resharper_possible_null_reference_exception_highlighting=warning
resharper_auto_property_can_be_made_get_only_global_highlighting=warning
resharper_unused_member_in_super_global_highlighting=warning
resharper_join_declaration_and_initializer_highlighting=warning

[{*.yaml,*.yml}]
indent_size=2
charset=utf-8
trim_trailing_whitespace=true

[*.DotSettings]
max_line_length=off

[{*.xml,*.csproj,*.xlf,*.DotSettings,*.xaml,*.config,*.pubxml}]
charset=utf-8-bom
trim_trailing_whitespace=true

[{manifest.json,packages-lock.json}]
charset=utf-8
indent_size=2
